{% extends 'base.html' %} {% load qr_code %}

{% block page %}
    {% if request.user.device == '1' %}
        <p>Introduce el token de validación que te hemos enviado por correo</p>
    {% else %}
        <p>Introduce el token de validación de tu app de autenticación</p>
    {% endif %}
    <form class="form--qr" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Comprobar token" />
    </form>
{% endblock %}

{% block extra_media %}
<style>
    body { text-align: center; }
    li { list-style: none; }
    .errorlist.nonfield { color: blue; margin: 10px 0; }
</style>
{% endblock %}
