{% extends 'base.html' %} {% load qr_code otp %}

{% block page %}

Bienvenido, <strong>{{ request.user }}</strong>

<form target="" method="post">
    {% if form|has_nonform_error:'qr_code' %}
        {% qr_from_text url size="M" %}
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>
    {% if form|has_nonform_error:'qr_code' or form|has_nonform_error:'email_sent' %}
        <a href="/profile">Cancelar</a>
    {% endif %}
</form>
{% endblock %}

{% block extra_media %}
<style>
    body { text-align: center; }
    form p:last-of-type { display: none; }
    {% if form|has_nonform_error:'qr_code' or form|has_nonform_error:'email_sent' %}
        form p:last-of-type { display: block; }
        form p:first-of-type { display: none; }
    {% endif %}
    li { list-style: none; }
    .errorlist.nonfield { color: blue; margin: 10px 0; }
</style>
{% endblock %}
