{% extends 'base.html' %}

{% block page %}
<form target="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <label for="form.username.id_for_label">
            {{ form.username.label }}
        </label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">
            {{ form.password.label }}
        </label>
        <input id="{{ form.password.id_for_label }}" type="password" name="{{ form.password.name }}"
           value="{{ form.password.data|default_if_none:'' }}">
    </div>
    <input type="submit" value="Login" />
</form>
{% endblock %}

{% block extra_media %}
<style>
    form { max-width: 400px; }
    form div { padding: 12px; }
    form label { display: block; font-weight: bold; margin-bottom: 4px; }
    input[type=submit] { border:0; padding: 12px; margin-top: 12px }
</style>
{% endblock %}
