{% extends 'base.html' %} {% load static %}

{% block page %}
<h1>2FA básica en Django</h1>
<h2>Probar con el usuario 'test' y pass 'test test test'</h2>
{% endblock %}

{% block extra_media %}
{% endblock %}
