{% extends 'base.html' %} {% load static %}

{% block page %}

<h1>
    Esta sería una página privada
</h1>
<h2>
    La puedes ver porque o estas logueado y no tienes el 2FA activado
    o porque lo tienes activado y además de logueado has verificado un
    token de acceso
</h2>
{% endblock %}
