<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            Custom 2FA
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body { padding: 24px; font-family: monospace }
            .login-info { position: fixed; top: 12px; right: 12px; padding: 12px; text-align: right; background: #eee}
            .login-info a { margin: 0 12px; }
        </style>
        {% block extra_media %}
            {# Override this in templates to add extra stylesheets and js #}
        {% endblock %}
    </head>

    <body class="{% block body_css_classes %}{% endblock %} {% if not request.user.is_anonymous %}logged-in{% endif %}">

        <div class="login-info">
            {% if request.user.is_authenticated %}
            <p>User logged-in as <strong>{{ request.user.username }}</strong></p>
            {% if request.user.is_verified == True %}
                <p style="color: green">User verified
            {% elif request.user.has_2fa_enabled %}
                <p style="color: red">User not verified
            {% endif %}
            ({{ request.user.get_device_display }})</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
            <a href="{% url 'profile' %}">Profile url</a>
            <a href="{% url 'private' %}">Private url</a>
        </div>
        {# Site messages #}
        {# include 'components/messages.html' #}

        {# content #}
        <main class="region-content">
            {% block page %}{% endblock %}
        </main>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
